{% extends 'admin/layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% import 'admin/macro/forms.html.twig' as forms %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Ajouter un menu</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_menus') }}">Liste des menus</a>
                </li>
                <li class="active">
                    <strong>Ajouter un menu</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h4>Ajouter un menu</h4>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'} })  }}
                    <div class="form-group">
                        <label for="menu__routeName" class="col-lg-2 control-label required">Choix de la page</label>
                        <div class="col-lg-10">
                            <select id="menu__routeName" class="form-control">
                                <option value="" disabled selected>Sélectionner une page</option>
                                <optgroup label="Pages spéciales">
                                    <option value="website_home" data-slug="" data-title="Accueil">Accueil</option>
                                    <option value="website_prices" data-slug="" data-title="Tarifs">Tarifs</option>
                                    <option value="website_contact" data-slug="" data-title="Contact">Contact</option>
                                </optgroup>
                                <optgroup label="Pages personnalisées">
                                    {% for page in pages %}
                                        <option value="website_page" data-slug="{{ page.slug }}" data-title="{{ page.title }}">{{ page.title }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    {{ form_row(form.title) }}
                    {{ form_row(form.routeName) }}
                    {{ form_row(form.routeSlug) }}
                    {{ forms.submit('Ajouter', 'primary') }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('form[name="menu"]').submit(function() {
            if ($('#menu_routeName').val() == '') {
                return false;
            }
        });
        $('#menu__routeName').change(function() {
            $('#menu_routeName').val($(this).val());
            $('#menu_routeSlug').val($(this).find('option:selected').data('slug'));
            $('#menu_title').val($(this).find('option:selected').data('title'));
        });
    </script>
{% endblock %}
