{% extends "website/layout.html.twig" %}

{% block title_seo parent() ~ ' - Cours' %}
{% block description_seo '' %}

{% block content %}
    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="{{ asset('img/bg-lessons.jpg') }}">
        <div class="container">
            <div class="row title">
                <h2 class="h2">Nos Cours</h2>
                <div class="page-breadcrumb">
                    <a href="{{ asset('website_home') }}">Accueil</a>/<span>Cours</span>
                </div>
            </div>
        </div>
    </section>

    <section id="Pricing" class="ptb ptb-sm-80">
        <div class="container">
            <div class="row" id="cours-a-domicile">
                <div class="col-md-5">
                    <h3>Cours à domicile</h3>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere quam eget sem ornare, ac consequat felis condimentum. Donec vestibulum lacus non consequat ullamcorper. Nam laoreet risus purus, vitae varius urna efficitur id.</p>
                    <ul>
                        <li class="">Lorem ipsum dolor</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Aliquam posuere quam</li>
                        <li>Donec vestibulum lacus</li>
                    </ul>
                    <div class="spacer-30"></div>
                    <a href="{{ path('website_prices') }}" class="btn btn-md btn-black">Voir les tarifs</a>
                </div>
                <div class="col-md-7">
                    <div class="owl-carousel image-slider o-flow-hidden white">
                        <div class="item">
                            <img src="{{ asset('img/home-lesson-1.jpg') }}" alt="" />
                        </div>
                        <div class="item">
                            <img src="{{ asset('img/home-lesson-2.jpg') }}" alt="" />
                        </div>
                        <div class="item">
                            <img src="{{ asset('img/home-lesson-3.jpg') }}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer-60"></div>
            <div class="spacer-60"></div>
            <div class="row" id="cours-individuels">
                <div class="col-md-7">
                    <div class="owl-carousel image-slider o-flow-hidden white">
                        <div class="item">
                            <img src="{{ asset('img/individual-lesson-1.jpg') }}" alt="" />
                        </div>
                        <div class="item">
                            <img src="{{ asset('img/individual-lesson-2.jpg') }}" alt="" />
                        </div>
                        <div class="item">
                            <img src="{{ asset('img/individual-lesson-3.jpg') }}" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h3>Cours individuels</h3>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere quam eget sem ornare, ac consequat felis condimentum. Donec vestibulum lacus non consequat ullamcorper. Nam laoreet risus purus, vitae varius urna efficitur id.</p>
                    <ul>
                        <li class="">Lorem ipsum dolor</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Aliquam posuere quam</li>
                        <li>Donec vestibulum lacus</li>
                    </ul>
                    <div class="spacer-30"></div>
                    <a href="{{ path('website_prices') }}" class="btn btn-md btn-black">Voir les tarifs</a>
                </div>
            </div>
            <div class="spacer-60"></div>
            <div class="spacer-60"></div>
            <div class="row">
                <div class="col-md-5" id="cours-collectifs">
                    <h3>Cours collectifs</h3>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere quam eget sem ornare, ac consequat felis condimentum. Donec vestibulum lacus non consequat ullamcorper. Nam laoreet risus purus, vitae varius urna efficitur id.</p>
                    <ul>
                        <li class="">Lorem ipsum dolor</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Aliquam posuere quam</li>
                        <li>Donec vestibulum lacus</li>
                    </ul>
                    <div class="spacer-30"></div>
                    <a href="{{ path('website_prices') }}" class="btn btn-md btn-black">Voir les tarifs</a>
                </div>
                <div class="col-md-7">
                    <div class="owl-carousel image-slider o-flow-hidden white">
                        <div class="item">
                            <img src="{{ asset('img/collective-lesson-1.jpg') }}" alt="" />
                        </div>
                        <div class="item">
                            <img src="{{ asset('img/collective-lesson-2.jpg') }}" alt="" />
                        </div>
                        <div class="item">
                            <img src="{{ asset('img/collective-lesson-3.jpg') }}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
