{% extends "website/layout.html.twig" %}

{% block title_seo parent() ~ ' - Tarifs' %}
{% block description_seo '' %}

{% block content %}
    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="{{ asset('img/bg-prices.jpg') }}">
        <div class="container">
            <div class="row title">
                <h2 class="h2">Tarifs</h2>
                <div class="page-breadcrumb">
                    <a href="{{ path('website_home') }}">Accueil</a>/<span>Tarifs</span>
                </div>
            </div>
        </div>
    </section>

    <section id="Pricing" class="ptb ptb-sm-80">
        <div class="container text-center">
            <div class="row text-left">
                <div class="col-md-8">
                    <h3>Analyse de votre chien</h3>
                    <div class="spacer-15"></div>
                    <p class="lead">Afin de mieux comprendre votre chien et vos besoins, il est necessaire de faire une analyse des comportements.</p>
                    <p class="lead">Cette analyse se fait chez vous sur rendez-vous. Nous aborderons tous les points necessaires à la bonne entente entre vous et votre chien.</p>
                    <p class="lead">Obligatoire avant votre premier cours avec nous, nous serons à votre écoute pour répondre au mieux à vos besoins.</p>
                </div>
                <div class="col-md-4">
                    <div class="Pricing-box">
                        <div class="price-title spacing-box">
                            <h4>Analyse</h4>
                        </div>
                        <hr />
                        <div class="spacing-box">
                            <div class="price"><span class="price-sm">€</span><span class="price-lg">80</span></div>
                            <div class="price-tenure">1h30</div>
                        </div>
                        <hr />
                        <hr />
                        <div class="spacing-grid">
                            <a href="{{ path('website_contact') }}" class="btn btn-md btn-black">Prendre contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer-60"></div>
            <h3>Tarifs</h3>
            <div class="spacer-60"></div>
            <div class="row" id="box-prices">
                {% for price in prices %}
                    {% set offset = '' %}
                    {% if loop.first and prices|length < 3 %}
                        {% set offset = prices|length == 2 ? 'offset-md-2' : 'col-offset-4' %}
                    {% endif %}
                    <div class="col-md-4 {{ offset }}">
                        <div class="Pricing-box">
                            <div class="price-title spacing-box">
                                <h4>{{ price.title }}</h4>
                            </div>
                            <hr />
                            <div class="spacing-box">
                                <div class="price">
                                    <span class="price-sm">€</span>
                                    <span class="price-lg">{{ price.price|number_format(0, '', '') }}</span>
                                </div>
                                <div class="price-tenure">{{ price.label }}</div>
                            </div>
                            <hr />
                            <div class="pricing-features spacing-grid">
                                <ul>
                                    <li>{{ price.description|nl2br }}</li>
                                </ul>
                            </div>
                            <hr />
                            <div class="spacing-grid">
                                <a href="{{ path('website_contact') }}" class="btn btn-md btn-black">Prendre contact</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="spacer-60"></div>
            <h3>Offres combinées</h3>
            <div class="spacer-60"></div>
            <div class="row" id="box-offers">
                {% for price in offers %}
                    {% set offset = '' %}
                    {% if loop.first and offers|length < 3 %}
                        {% set offset = offers|length == 2 ? 'offset-md-2' : 'col-offset-4' %}
                    {% endif %}
                    <div class="col-md-4 {{ offset }}">
                        <div class="Pricing-box">
                            <div class="price-title spacing-box">
                                <h4>{{ price.title }}</h4>
                            </div>
                            <hr />
                            <div class="spacing-box">
                                <div class="price">
                                    <span class="price-sm">€</span>
                                    <span class="price-lg">{{ price.price|number_format(0, '', '') }}</span>
                                </div>
                                <div class="price-tenure">{{ price.label }}</div>
                            </div>
                            <hr />
                            <div class="pricing-features spacing-grid">
                                <ul>
                                    <li>{{ price.description|nl2br }}</li>
                                </ul>
                            </div>
                            <hr />
                            <div class="spacing-grid">
                                <a href="{{ path('website_contact') }}" class="btn btn-md btn-black">Prendre contact</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
