{% extends "website/layout.html.twig" %}

{% block title_seo pageStatic.titleSEO %}
{% block description_seo pageStatic.descriptionSEO %}

{% block content %}
    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="{{ asset('img/bg-prices.jpg') }}">
        <div class="container">
            <div class="row title">
                <h2 class="h2">Tarifs</h2>
                <div class="page-breadcrumb">
                    <a href="{{ path('website_home') }}">Accueil</a>/<span>Tarifs</span>
                </div>
            </div>
        </div>
    </section>

    <section id="Pricing" class="ptb ptb-sm-80">
        <div class="container text-center">
            <div class="row text-left">
                <div class="col-md-8">
                    <h3>Analyse de votre chien</h3>
                    <div class="spacer-15"></div>
                    <p class="lead">Afin de mieux comprendre votre chien et vos besoins, il est necessaire de faire une analyse des comportements.</p>
                    <p class="lead">Cette analyse se fait chez vous sur rendez-vous. Nous aborderons tous les points necessaires à la bonne entente entre vous et votre chien.</p>
                    <p class="lead">Obligatoire avant votre premier cours avec nous, nous serons à votre écoute pour répondre au mieux à vos besoins.</p>
                </div>
                <div class="col-md-4">
                    <div class="Pricing-box">
                        <div class="price-title spacing-box">
                            <h4>Analyse</h4>
                        </div>
                        <hr />
                        <div class="spacing-box">
                            <div class="price"><span class="price-sm">€</span><span class="price-lg">80</span></div>
                            <div class="price-tenure">1h30</div>
                        </div>
                        <hr />
                        <div class="spacing-grid">
                            <a href="{{ path('website_contact') }}" class="btn btn-md btn-black">Prendre contact</a>
                        </div>
                    </div>
                </div>
            </div>
            {% for price in prices %}
                <div class="row row-price mt-60">
                    <div class="col-md-6">
                        <h3 class="text-left">{{ price.title }}</h3>
                        <div class="lead text-left">{{ price.content|raw }}</div>
                        <div class="spacer-30"></div>
                        <div class="Pricing-box">
                            <div class="row spacing-box">
                                <div class="col-md-6">
                                    <div class="price-title text-left">
                                        <h4>{{ price.title }}</h4>
                                        <p>{{ price.description }}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="price">
                                        <span class="price-sm">€</span>
                                        <span class="price-lg">{{ price.price|number_format(0, '', '') }}</span>
                                    </div>
                                    <div class="price-tenure">{{ price.label }}</div>
                                </div>
                            </div>
                            <hr />
                            <div class="spacing-grid">
                                <a href="{{ path('website_contact') }}" class="btn btn-md btn-black">Prendre contact</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="owl-carousel image-slider o-flow-hidden white">
                            {% for image in price.images %}
                                <div class="item">
                                    <img src="{{ asset('images/' ~ image.path) }}" alt="Une méthode douce - Gwenvael Dronka - chien - éducateur canin" />
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <h3 class="mt-45">Offres combinées</h3>
            {% for price in offers %}
                <div class="row row-price mt-60">
                    <div class="col-md-6">
                        <h3 class="text-left">{{ price.title }}</h3>
                        <div class="lead text-left">{{ price.content|raw }}</div>
                        <div class="spacer-30"></div>
                        <div class="Pricing-box">
                            <div class="row spacing-box">
                                <div class="col-md-6">
                                    <div class="price-title text-left">
                                        <h4>{{ price.title }}</h4>
                                        <p>{{ price.description }}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="price">
                                        <span class="price-sm">€</span>
                                        <span class="price-lg">{{ price.price|number_format(0, '', '') }}</span>
                                    </div>
                                    <div class="price-tenure">{{ price.label }}</div>
                                </div>
                            </div>
                            <hr />
                            <div class="spacing-grid">
                                <a href="{{ path('website_contact') }}" class="btn btn-md btn-black">Prendre contact</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="owl-carousel image-slider o-flow-hidden white">
                            {% for image in price.images %}
                                <div class="item">
                                    <img src="{{ asset('images/' ~ image.path) }}" alt="Une méthode douce - Gwenvael Dronka - chien - éducateur canin" />
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
