<footer class="footer pt-80">
    <div class="container">
        <div class="row footer-info mb-60">
            <div class="col-md-6 col-sm-12 mb-sm-30 text-center">
                <div class="">
                    <h3>
                        <a href="{{ path('website_home') }}">Une méthode douce</a>
                    </h3>
                    <h4>D'éducation canine</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <ul class="link">
                    <li><a href="{{ path('website_home') }}">Accueil</a></li>
                    <li><a href="{{ path('website_prices') }}">Tarifs</a></li>
                    <li><a href="{{ path('website_contact') }}">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <ul class="link-small">
                    <li><a href="mailto:yourname@domain.com"><i class="fa fa-envelope-o left"></i>contact@une-methode-douce.fr</a></li>
                    <li><a><i class="fa fa-phone left"></i>06 89 28 49 81</a></li>
                </ul>
                <div class="spacer-15"></div>
                {{ render(controller('AppBundle:Website/Layout:socialNetworks')) }}
            </div>
        </div>
    </div>

    <hr />

    <section class="copyright ptb-60">
        <div class="container">
            <p class="">
                <span>© 2018 <a><b>Gwenvael Dronka</b></a>. Tous droits réservés.</span>
                <br />
                <span>Créé par <a target="_blank" href="http://geoffrey-chameroy.fr"><b>Geoffrey Chameroy</b></a>.</span>
            </p>
        </div>
    </section>
</footer>
