<header id="header" class="header header-dark header-prepare">
    <div class="container header-inner">
        <div class="logo">
            <h3>
                <a href="{{ path('website_home') }}">Une Méthode Douce</a>
            </h3>
        </div>

        <div class="nav-menu">
            <ul class="nav-menu-inner">
                <li><a href="{{ path('website_home') }}">Accueil</a></li>
                <li><a href="#">Méthode</a></li>
                <li><a href="{{ path('website_sites') }}">Sites</a></li>
                <li><a href="{{ path('website_prices') }}">Tarifs</a></li>
                <li><a href="{{ path('website_contact') }}">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
