{% for block in page.blocks %}
    <div class="row row-block">
        <div class="col-md-12" id="{{ block.slug }}">
            <h3>{{ block.title }}</h3>
            <div class="lead">{{ block.content|raw }}</div>
            <div class="spacer-30"></div>
            {% if block.action.id != 1 %}
                <p class="text-center">
                    <a href="{{ path(block.action.route) }}" class="btn btn-md btn-black">{{ block.action.label }}</a>
                </p>
            {% endif %}
        </div>
    </div>
    {% if not loop.last %}
        <div class="spacer-60"></div>
    {% endif %}
{% endfor %}
