{% extends "admin/layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>{{ page.title }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_pages') }}">Liste des pages</a>
                </li>
                <li class="active">
                    <strong>{{ page.title }}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-4">
            <div class="title-action">
                <a href="{{ path('admin_page_edit', {'id': page.id }) }}" class="btn btn-info btn-sm">Editer</a>
                <form class="inline" action="{{ url('admin_page_delete') }}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('page-delete') }}" />
                    <input type="hidden" name="id" value="{{ page.id }}" />
                    <button class="btn btn-danger btn-sm" type="submit">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox product-detail">
                    <div class="ibox-title">
                        <h5 class="font-bold m-b-xs">
                            <span>{{ page.title }}</span>
                        </h5>
                        <div class="ibox-tools">
                            <a href="{{ path('admin_page_edit', {'id': page.id }) }}" class="btn btn-white">
                                <i class="fa fa-pencil text-info"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="small text-muted">{{ page.description|raw }}</div>
                        <dl class="small m-t-md">
                            <dt>Titre SEO</dt>
                            <dd>{{ page.titleSeo }}</dd>
                        </dl>
                        <dl class="small m-t-md">
                            <dt>Description SEO</dt>
                            <dd>{{ page.descriptionSeo }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        {{ render(controller('AppBundle:Admin/PageBlock:list', {'id': page.id})) }}
    </div>
{% endblock %}
