{% extends "website/layout.html.twig" %}

{% block title_seo parent() ~ ' - Cours' %}
{% block description_seo '' %}

{% block content %}
    {% set backgroundImg = page.image ? asset('images/' ~ page.image) : '' %}
    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="{{ backgroundImg }}">
        <div class="container">
            <div class="row title">
                <h2 class="h2">{{ page.title }}</h2>
                <div class="page-breadcrumb">
                    <a href="{{ path('website_home') }}">Accueil</a>/<span>{{ page.title }}</span>
                </div>
            </div>
        </div>
    </section>

    <section class="ptb ptb-sm-80">
        <div class="container">
            {{ render(controller('AppBundle:Website/XPage:blockList', {'id': page.id})) }}
        </div>
    </section>
{% endblock %}
