{% extends "admin/layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Ajouter un tarif</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_prices') }}">Liste des tarifs</a>
                </li>
                <li class="active">
                    <strong>Ajouter un tarif</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h4>Ajouter un tarif</h4>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'} })  }}
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Titre</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.title, {'attr' : {'class' : 'form-control'} }) }}
                            {{ form_errors(form.title, {'attr' : {'class' : 'text-danger'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Prix</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.price, {'attr' : {'class' : 'form-control'} }) }}
                            {{ form_errors(form.price, {'attr' : {'class' : 'text-danger'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Label</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.label, {'attr' : {'class' : 'form-control'} }) }}
                            {{ form_errors(form.label, {'attr' : {'class' : 'text-danger'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.description, {'attr' : {'class' : 'form-control'} }) }}
                            {{ form_errors(form.description, {'attr' : {'class' : 'text-danger'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-10">
                            <button class="btn btn-sm btn-primary" type="submit">Ajouter</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
