{% extends "website/layout.html.twig" %}

{% block title_seo parent() ~ ' - Contact' %}
{% block description_seo '' %}

{% block content %}
    <section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="{{ asset('img/bg-contact.jpg') }}">
        <div class="container">
            <div class="row title">
                <h2 class="h2">Contactez nous</h2>
                <div class="page-breadcrumb">
                    <a href="{{ asset('website_home') }}">Accueil</a>/<span>Contact</span>
                </div>
            </div>
        </div>
    </section>

    <section id="form" class="ptb ptb-sm-80">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h3>Prendre contact</h3>
                    <p class="lead">Nullam dictum felis eu pede mollis pretium leo eget bibendum sodales augue velit cursus. tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <div class="spacer-75"></div>
            <div class="row">
                <div class="col-md-4 contact">
                    {% for zone in zones %}
                        <div class="contact-box-left mb-45 box-zone">
                            <div class="contact-icon-left"><i class="ion ion-ios-location"></i></div>
                            <h6>{{ zone.address.title }}</h6>
                            <p>{{ zone.address.city }}<br>{{ zone.address.zipCode }}, {{ zone.address.country }}</p>
                        </div>
                    {% endfor %}
                    <div class="contact-box-left mb-45">
                        {% include 'website/layout/_social.html.twig' %}
                    </div>
                </div>
                <div class="col-md-8">
                    {{ form_start(form, {'attr': {'class': 'contact-form'}}) }}
                        {% if success is defined and success == "1" %}
                            <h6 class="successContent">
                                <i class="fa fa-check left"></i>
                                <span>Message envoyé avec succès. Nous revenons vers vous rapidement !</span>
                            </h6>
                        {% endif %}
                        <div class="form-field-wrapper">
                            {{ form_widget(form.name, {'attr': {'class': 'input-sm form-full'}}) }}
                            {{ form_errors(form.name, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                        <div class="form-field-wrapper">
                            {{ form_widget(form.email, {'attr': {'class': 'input-sm form-full'}}) }}
                            {{ form_errors(form.email, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                        <div class="form-field-wrapper">
                            {{ form_widget(form.subject, {'attr': {'class': 'input-sm form-full'}}) }}
                            {{ form_errors(form.subject, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                        <div class="form-field-wrapper">
                            {{ form_widget(form.message, {'attr': {'class': 'input-sm form-full'}}) }}
                            {{ form_errors(form.message, {'attr': {'class': 'text-danger'}}) }}
                        </div>
                        <button class="btn btn-md btn-black form-full" type="submit" id="form-submit" name="submit">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

    {% include 'website/fragment/_map.html.twig' %}
{% endblock %}

{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1UBibxS5_73e681I_iJT5mfYCwmaXJGs"></script>
<script src="{{ asset('mazel/js/map.js') }}" type="text/javascript"></script>
<script>
    var mapElement = document.getElementById('map');
    var map = new google.maps.Map(mapElement, mapOptions);
    {% for zone in zones %}
        new google.maps.Marker({
            position: new google.maps.LatLng({{ zone.address.latitude }}, {{ zone.address.longitude }}),
            map: map,
            icon: '{{ asset('img/map-marker.png') }}'
        });
    {% endfor %}
</script>
{% endblock %}
